#ww_advertisement_bottom_container_wrapper{text-align: center;bottom:0; width: 100%;position: fixed;z-index: 9999;transition-duration: 400ms;background-color: #ffffff;}
#ww_advertisement_bottom_container_wrapper:hover{background-color: rgba(250, 250, 250, 0.95);}
#ww_advertisement_bottom_container_wrapper a{position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
#ww_advertisement_bottom_container{margin: auto;position: relative;line-height:50px;text-align: center;font-size: 1.3em;}
#ww_advertisement_bottom_logo{display: inline-block;height: 44px;padding: 3px 0; ;margin-right: 20px;vertical-align: middle;width: 44px;background: url('images/logo_mini.png') no-repeat center transparent;background-size:contain;}
#ww_advertisement_arrows{color: #7fcc27; font-weight: bold;}
.ww_cookie_info_bottom{bottom:50px;}
#ww_advertisement_bottom_container > span{display: inline-block;}
@media (max-width: 479px){
    #ww_advertisement_bottom_container{font-size: 1em;}
    #ww_advertisement_bottom_logo{height: 30px; width: 30px}
}
@media (max-width: 767px){
    #ww_advertisement_bottom_container > #ww_advertisement_text_long{display: none;}
    #ww_advertisement_bottom_container > #ww_advertisement_text_medium{display: none;}
    #ww_advertisement_bottom_container > #ww_advertisement_text_short{display: inline-block;}
}
@media (max-width: 999px) and (min-width: 768px){
    #ww_advertisement_bottom_container > #ww_advertisement_text_long{display: none;}
    #ww_advertisement_bottom_container > #ww_advertisement_text_medium{display: inline-block;}
    #ww_advertisement_bottom_container > #ww_advertisement_text_short{display: none;}
}
@media (min-width: 1000px){
    #ww_advertisement_bottom_container > #ww_advertisement_text_long{display: inline-block;}
    #ww_advertisement_bottom_container > #ww_advertisement_text_medium{display: none;}
    #ww_advertisement_bottom_container > #ww_advertisement_text_short{display: none;}
}
